<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398017566208-3ldpttchb91bbjpgou8c8nsm9on5gq83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398017566208-3ldpttchb91bbjpgou8c8nsm9on5gq83</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398017566208-5botji0v7bprfr2ndg01tot4tbre2h95.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa5LxyyhXKx5br-VPMqv5-A_VsBS97pXk</string>
	<key>GCM_SENDER_ID</key>
	<string>398017566208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>minhasaudefeminina-5f28c</string>
	<key>STORAGE_BUCKET</key>
	<string>minhasaudefeminina-5f28c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398017566208:ios:57d0816a7d3483c245aae5</string>
</dict>
</plist>